@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-primary {
    @apply text-blue-700 hover:text-pink-500;
  }

  .link-menu {
    @apply text-gray-700 hover:text-pink-500;
  }

  .link-heading {
    @apply text-gray-700 hover:underline hover:underline-offset-2;
  }

  .list-item-wrapper {
    @apply px-2.5 py-1.5 text-sm/4 border-1 border-gray-300 bg-white rounded-md overflow-clip;
  }
}